@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', sans-serif;
}

.hero-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  min-height: 105px;
  background-image: url(../images/hats_hero.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hero-nav .hero-nav__inner {
  z-index: 1;
    
}
.hero-nav h1 {
  color: #ffffff;
  font-size: 9vw;    
    text-align: center; 
}

.hero-nav:before {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: background 400ms;
  transition: background 400ms;
}

.hero-nav.fixme:before {
  background: rgba(0, 0, 0, 0.8);
}

.sub-head {
    font-size: 5vw;
    text-align: center; 
}

.page-content {
  width: 480px;
  margin: 0 auto;
  line-height: 1.7;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: lightgray;
}

a:hover {
    color: white;
}

.footer {
    position:fixed;
    bottom:0;
    left:auto;
    right:0;
    height:20px;
    background-color: black;
    border-radius: 25px 0px 0px 0px;
}

.footWords {
    display: inline;
    float: right;
    color: lightgray;
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-right: 10px;
}

.footer{
    margin-right: 250px    
}
 
.tilt {
    position:fixed;
    bottom:-105px;
    right: 0px;
    width: 250px;
    height: 125px;
    z-index: 999;
-webkit-transform-origin: 50% 0;
-moz-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0;
-o-transform-origin: 0% 0;
transform-origin: 0% 0;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.55s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.socialTypes {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 25px;
    padding-left: 15px;
    margin-top: 25px;
    line-height: 220%;
    text-align: left;
    background-color: black;
    border-radius: 20px;

}

.socialTypes p:hover {
    background-color: darkslategray;
    border-radius: 20px;
    padding-left: -25px;
}

@media screen and (max-width: 500px) {
        .hat-gif {
        width: 99%;
        }
        .page-content {
        width: 90%;
        }
        .hero-nav h1 {
        font-size: 10vw;
        }
        .sub-head {
        font-size: 8vw;
        }
}
    
@media screen and (min-width: 1000px) {
        .page-content {
        width: 960px;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
         -moz-column-count: 2; /* Firefox */
        column-count: 2;
        }
        .hero-nav h1 {
        font-size: 4.5vw;
        }
        .sub-head {
        font-size: 3vw;
        }
}
/*start navigation style*/
#navcontainer
{
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
border-top: 1px solid #999;
z-index: 1;
}

#navcontainer ul
{
list-style-type: none;
text-align: center;
margin-top: -8px;
padding: 0;
position: relative;
z-index: 2;
}

#navcontainer li
{
display: inline;
text-align: center;
margin: 0 5px;
}

#navcontainer li a
{
padding: 1px 7px;
color: #666;
background-color: #fff;
border: 1px solid #ccc;
text-decoration: none;
}

#navcontainer li a:hover
{
color: #000;
border: 1px solid #666;
border-top: 2px solid #666;
border-bottom: 2px solid #666;
}

#navcontainer li a#current
{
color: #000;
border: 1px solid #666;
border-top: 2px solid #666;
border-bottom: 2px solid #666;
}
/*end navigation style*/